@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";



@theme {
  /* Fonts */
  --font-poppins: Poppins, sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-playfair: "Playfair Display", serif;

  /* Primary Palette */
  --color-accent-red: #b90e29;
  --color-bright-red: #ef2427;
  --color-vanilla: #f3e5ab;
  --color-beige: #ebd19d;
  --color-gold: #fca129;
  --color-dark-red: #48090a;
  --color-black: #000000;

  /* Secondary Palette */

  /* Gradient Background Palette */
  --color-gradient-dark-blue: #10042a;
  --color-gradient-dark-red: #1f0303;
  --color-gradient-red: #650b0d;
  --color-gradient-bright-red: #dc1a1d;
  --color-gradient-dark-brown: #1f0106;
  --color-gradient-blue: #1a2766;

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;

  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
}

@layer base {
  html {
    color: white;
    font-size: 14px;
  }

  @media (min-width: var(--breakpoint-tablet)) {
    html {
      font-size: 14px;
    }
  }

  @media (min-width: var(--breakpoint-laptop)) {
    html {
      font-size: 16px;
    }
  }

  @media (min-width: var(--breakpoint-desktop)) {
    html {
      font-size: 24px;
    }
  }

  body {
    font-family: var(--font-poppins);
  }

  h1 {
    font-family: var(--font-bebas);
    font-weight: bold;
  }


}

@layer utilities {
    .font-playfair {
        font-family: var(--font-playfair);
    }
    .font-poppins {
        font-family: var(--font-poppins);
    }
    .font-bebas {
        font-family: var(--font-bebas);
    }
}
