---
import MedalImg from "../assets/about/medal.svg";
import SpotlightImg from "../assets/about/spotlight.svg";
import CrowdImg from "../assets/about/crowd.svg";
---

<div
	class="flex flex-col place-content-center items-center bg-[#48090a] text-white gap-20 pb-30"
	id="about">
	<div class="w-full">
		<div
			class="flex flex-col place-items-center items-center gap-12 pt-20 md:pt-60 pb-30 bg-position-[bottom_left_10%,bottom_right] bg-size-[115px,contain] bg-no-repeat"
			style=``>
			<svg height="100%" width="100%" viewBox="0 0 1750 1000">
				<CrowdImg x="5%" y="0%" transform="scale(1.15)" />
                <SpotlightImg x="35%" y="-61%" transform="scale(1)" style="mix-blend-mode: plus-lighter;" />
                <ellipse cx="58.25%" cy="81.5%" rx="407" ry="15" fill="#FFF0D2" />
                <MedalImg x="60%" y="15.5%" transform="scale(1)" />
			</svg>
		</div>
	</div>

	<p class="text-xl w-[80%] md:w-[60%]">
		SparkHacks is a 24-hour hackathon hosted by the Department of Computer Science at the
		University of Illinois Chicago along with several different CS-based student organizations.
		This is the fourth iteration of SparkHacks and aims to provide an environment to learn,
		collaborate with peers, and build a project that tackles our problem statements for a chance
		to win prizes!
	</p>
</div>
