---
import FrontEnvelope from '../assets/envelope/frontEnvelope.svg';
import BackEnvelope from '../assets/envelope/backEnvelope.svg';
import EnvRibbon from '../assets/envelope/envRibbon.svg';
import LetterMarking from '../assets/envelope/letterMarking.svg';
import Logo from '../../public/sparkhacks-logo.svg';
---

<div class="flex flex-col place-content-center items-center bg-gradient-to-b from-[#10042A] to-[#1F0303] overflow-hidden h-[150vh] py-[20vh]">
    <svg id="letterSvg" class="h-[50%] md:h-full" viewBox="300 -290 600 1300" width="100%">
        <BackEnvelope />

        <g id="letter">
            <foreignObject width="100%" height="1200" x="298" y="200">
                <div class="bg-[#FFF0D2] border-[#FFAD41] border-3 px-14 py-8 text-[#7A1E1E] min-h-[400px]">
                    <div id="letterBg" class="w-full h-full bg-[url(../assets/envelope/letterMarking.svg)] bg-contain bg-no-repeat bg-center invisible">
                        <div id="letterContent" class=" flex flex-col text-center items-center invisible ">
                            <Logo width="50px" height="50px"/>
                            <h2 class="text-xl md:text-lg font-playfair italic mb-3">You Are Invited to</h2>

                            <!-- <h2 class="text-xl text-transparent bg-linear-to-b from-[#D41928] to-[#6E0D15] bg-clip-text font-[Marko_One,cursive]">Annual Hackathon</h2> -->
                            <h1 class="text-6xl md:text-5xl font-playfair font-[700] text-transparent bg-linear-to-b from-[#D41928] to-[#6E0D15] bg-clip-text pb-5">SparkHacks</h1>

                            <p class="text-xl md:text-lg font-[600] leading-[1.2]">University of Illinois at Chicago<br>February 6th - 7th, 2026</p>

                            <p class="text-xl md:text-lg font-[300] leading-[1.2] my-5">Join us for a weekend of blockbuster programming and an awards ceremony you will never forget.
                                <br><br>Reserve your seat and apply now!</p>
                            
                            <a class="bg-[#EF2427] text-xl md:text-lg font-bold text-white rounded-lg py-1 px-12 cursor-pointer" href="https://dashboard.sparkhacks.org/" target="_blank">Apply</a>
                        </div>
                    </div>
                </div>
            </foreignObject>
        </g>

        <FrontEnvelope id="frontEnv" x="282" y="312" />

        <EnvRibbon id="envRibbon" y="141" />
    </svg>
</div>

<script>
    window.addEventListener('load', () => {
        const svgContainer = document.getElementById('letterSvg');
        const letter = document.getElementById('letter');
        const letterContent = document.getElementById('letterContent');
        const letterBg = document.getElementById('letterBg');
        const frontEnv = document.getElementById('frontEnv');
        const envRibbon = document.getElementById('envRibbon');

        if (svgContainer && letter && letterContent && letterBg && frontEnv && envRibbon) {
            const observer = new IntersectionObserver(
                (entries) => {
                    entries.forEach((entry) => {
                        if (entry.isIntersecting) {
                            letter.classList.add('animate-open');
                            letterContent.classList.add('animate-content');
                            letterBg.classList.add('animate-content');
                            frontEnv.classList.add('animate-remove');
                            envRibbon.classList.add('animate-remove');
                            frontEnv.addEventListener('animationend', () => {
                                frontEnv.remove();
                                envRibbon.remove();
                            });

                            observer.unobserve(svgContainer);
                        }
                    });
                }, { threshold: 0.5 }
            );

            observer.observe(svgContainer);
        }
    });
</script>

<style>
    #letter {
        transform-origin: right;
    }

    .animate-open {
        animation: openEnvelope 3s forwards;
    }

    .animate-content {
        animation: contentAppear 3s forwards;
    }

    .animate-remove {
        animation: removeLayer 3s forwards;
    }

    @keyframes openEnvelope {
        25% {
            transform: translateY(-400px);
        }
        70% {
            transform: scale(1.7) translateY(260px);
        }
        85% {
            transform: rotateY(-90deg) scale(1.7) translateY(260px);
        }
        100% {
            transform: scale(1.7) translateY(260px);
        }
    }

    @keyframes contentAppear {
        84.9% {
            visibility: hidden;
        }
        85%, 100% {
            visibility: visible;
        }
    }

    @keyframes removeLayer {
        24.9% {
            visibility: visible;
        }
        25%, 100% {
            visibility: hidden;
        }
    }
</style>