---

---

<footer
    class="grid h-40 grid-flow-col grid-cols-3 place-content-center items-center px-10 text-center text-white"
    >
    <div>Logo</div>
    <div>SparkHacks 2025</div>
    <div>Socials</div>
</footer>