---
import InstagramIcon from "../../public/socialIcons/instagram-logo.svg";
import GitHubIcon from "../../public/socialIcons/github-logo.svg";
import LinkedInIcon from "../../public/socialIcons/linkedin-logo.svg";
---

<footer
	class="grid h-40 grid-flow-col grid-cols-3 place-content-center items-center px-10 text-center text-white z-250"
	style="background: linear-gradient(#14270F 23%, #071D02 63%)"
>
	<div><img src="sparkhacks-logo.svg" width="50px"/></div>
	<div class="font-bold flex flex-col">
		<h1>SparkHacks 2026</h1>
		<h2><a href="mailto:sparkhacks@uic.edu">sparkhacks@uic.edu</a></h2>
		<p>
			<a href="https://github.com/SparkHacks/spark-web-2026">{`Made by the SparkHacks team <3`}</a>
		</p>
	</div>
	<div class="flex flex-col font-bold">
		<h1>Follow Us</h1>
		<div class="flex gap-5 justify-center">
			<a href="https://www.instagram.com/sparkhacksuic/"><InstagramIcon width={50} height={50} />
			<a href="https://github.com/SparkHacks"><GitHubIcon width={50} height={50} />
			<a href="https://www.linkedin.com/company/sparkhacks/"><LinkedInIcon width={50} height={50} />
		</div>
	</div>
</footer>
