---
import HillBG from "../assets/footer/hill.svg";
import BuildingsBG from "../assets/footer/buildings.svg";
import Spotlight1 from "../assets/footer/spotlight1.svg";
import Spotlight2 from "../assets/footer/spotlight2.svg";
import Spotlight3 from "../assets/footer/spotlight3.svg";
import SparkHacksLetters from "../assets/footer/sparkhacksLetters.svg";
---

<div class="w-full">
    <svg height="100%" width="100%"viewBox="0 0 100 55">
        <svg viewBox="0 0 1750 500" y="5%" transform="scale(1)" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <radialGradient id="billboard-bg" x1="0" x2="0" y1="0" y2="1">
                    <stop style="stop-color:#FFC77E" offset="0%" />
                    <stop style="stop-color:#FCA129" offset="100%" />
                </radialGradient>
            </defs>
            

            <HillBG x="-2%" y="11%" transform="scale(1.3)" />
            <SparkHacksLetters x="75%" y="20%" />

            <Spotlight1 id="spotlight1" x="40%" y="-20%" style="mix-blend-mode: plus-lighter;" />
            <Spotlight2 id="spotlight2" x="35%" y="25%" style="mix-blend-mode: plus-lighter;" />
            <Spotlight3 id="spotlight3" x="45%" y="80%" style="mix-blend-mode: plus-lighter;" />
            

            <BuildingsBG x="5%" y="-20%" transform="scale(1)"/>
            <rect width="10" height="116" x="30%" y="-42%" fill="white" /> 
            <rect width="10" height="191" x="28%" y="-57%" fill="white" />

            <g id="billboard-group">
                <rect width="258" height="115" x="12%" y="115%" fill-opacity="0" stroke="white" stroke-width="5" />
                <rect width="328" height="134.45" x="10%" y="90%" fill="url(#billboard-bg)" stroke="#48090A" stroke-width="25" /> 
                <rect id="billboard" width="328" height="134.45" x="10%" y="90%" fill="url(#billboard-bg)" /> 
                <text class="billboard-txt" x="19.5%" y="100%">Coming to a</text>
                <text class="billboard-txt" x="19.5%" y="110%">Campus By You!</text>

                <g id="top-lights">
                    {Array.from({length: 12}).map((e, i) => (
                        <ellipse fill="#FFF0D2"  rx="12" cx={`${9.75 + i * 1.75}%`} cy="89%" />
                    ))}
                </g>

                <g id="bottom-lights">
                    {Array.from({length: 12}).map((e, i) => (
                        <ellipse fill="#FFF0D2"  rx="12" cx={`${9.75 + i * 1.75}%`} cy="118%" />
                    ))}
                </g>
            </g>

            <g id="building-lights">
                <!-- TODO -->
                {Array.from({length: 6}).map((e, i) => (
                    <rect fill="#FFF0D2"  width="25" height="20" x={`${8.75 + i * 2.25}%`} y="55%" />
                    <rect fill="#FFF0D2"  width="25" height="20" x={`${8.75 + i * 2.25}%`} y="62%" />
                    <rect fill="#FFF0D2"  width="25" height="20" x={`${8.75 + i * 2.25}%`} y="69%" />
                ))}

                {Array.from({length: 3}).map((e, i) => (
                    <rect fill="#FFF0D2"  width="40" height="25" x={`${35.75 + i * 3}%`} y="97%" />
                    <rect fill="#FFF0D2"  width="40" height="25" x={`${35.75 + i * 3}%`} y="105%" />
                ))}

                <rect fill="#FFF0D2"  width="55" height="25" x="52.5%" y="110%" />

            </g>
        </svg>
    </svg>
</div>

<script>
    
</script>

<style>
	@keyframes spotlight1-animation
	{
        0%
        {}

        50%
        {
            transform: rotate(-5deg);
        }

        100%
        {}
	}

    @keyframes spotlight2-animation
	{
        0%
        {}

        50%
        {
            transform: rotate(3deg);
        }

        100%
        {}
	}

    @keyframes spotlight3-animation
	{
        0%
        {}

        50%
        {
            transform: rotate(-5deg);
        }

        100%
        {}
	}


	#spotlight1, #spotlight2, #spotlight3 
	{
		transform-origin: bottom left;
	}

    #spotlight1
	{
		animation: spotlight1-animation 6s ease-in-out infinite;
	}

    #spotlight2
	{
		animation: spotlight2-animation 7s ease-in-out infinite;
	}

    #spotlight3
	{
		animation: spotlight3-animation 9s ease-in-out infinite;
	}

    .billboard-txt
    {
        user-select: none;
        font: bold 36px sans-serif;
        fill: #48090A;
        text-anchor: middle;
    }
	
    #billboard-group:hover #billboard {
        filter: brightness(1.25);
    }

</style>