---
import TopCurtain from '../assets/hero/topCurtain.svg';
import FullCurtain from '../assets/hero/fullCurtain.svg';
import HeroLogo from '../assets/hero/heroLogo.svg';
import HeroBulbLight from '../assets/hero/heroBulbLight.svg';
import HeroBulbDark from '../assets/hero/heroBulbDark.svg';

const gap = 50;
---

<div
    class="relative h-[75vh] lg:h-screen w-full bg-[#10042a] text-white overflow-hidden"
>
    <FullCurtain id="leftFull" class="absolute w-fit h-full right-1/2 translate-x-[25%] rotate-y-180 z-10" />
    <FullCurtain id="rightFull" class="absolute w-fit h-full left-1/2 -translate-x-[25%] z-10" />
    <TopCurtain class="absolute w-[200%] sm:w-[125%] md:w-full sm:-top-[8%] left-[50%] -translate-x-[50%] h-fit z-11" />

    <svg class="absolute top-[50%] left-[50%] -translate-[50%] w-[180%] md:w-full" viewBox="0 0 1750 500" height="100%" style="transform-box: fill-box;">
        <!-- Logo Support Bars -->
        <line x1="33%" y1="-200%" x2="33%" y2="50%" stroke="#C6822A" stroke-width="4" />
        <line x1="67%" y1="-200%" x2="67%" y2="50%" stroke="#C6822A" stroke-width="4" />

        <!-- Hero Logo Board -->
        <text class="font-playfair italic text-shadow-lg/20" fill="white" font-size="36" x="50%" y="80" text-anchor="middle">Presenting</text>
        <HeroLogo class="logoIlluminate -translate-[50%]" x="50%" y="50%" style="transform-box: fill-box;" />

        <g style="isolation: isolate;">
            <!-- Top Left Row Bulbs -->
            {Array.from({ length: 4 }).map((_, index) => (
                <HeroBulbLight class="heroBulb" x={440 + index * gap} y="180" />
            ))}

            <!-- Top Middle Row Bulbs -->
            <HeroBulbLight class="heroBulb" x="635" y="145" />
            <HeroBulbLight class="heroBulb" x="695" y="105" />
            <HeroBulbLight class="heroBulb" x="760" y="90" />
            <HeroBulbLight class="heroBulb" x="825" y="105" />
            <HeroBulbLight class="heroBulb" x="885" y="145" />

            <!-- Top Right Row Bulbs -->
            {Array.from({ length: 4 }).map((_, index) => (
                <HeroBulbLight class="heroBulb" x={940 + index * gap} y="180" />
            ))}

            <!-- Right Column Bulbs -->
            <HeroBulbDark class="heroBulb" x="847" y="130" style="scale: 1.5" />
            {Array.from({ length: 2 }).map((_, index) => (
                <HeroBulbDark class="heroBulb" x="1173" y={240 + index * gap} />
            ))}
            <HeroBulbDark class="heroBulb" x="847" y="250" style="scale: 1.5" />

            <!-- Bottom Row Bulbs -->
            {Array.from({ length: 14 }).map((_, index) => (
                <HeroBulbLight class="heroBulb" x={1090 - index * gap} y="345" />
            ))}

            <!-- Left Column Bulbs -->
            <HeroBulbDark class="heroBulb" x="272" y="250" style="scale: 1.5" />
            {Array.from({ length: 2 }).map((_, index) => (
                <HeroBulbDark class="heroBulb" x="369" y={290 - index * gap} />
            ))}
            <HeroBulbDark class="heroBulb" x="272" y="130" style="scale: 1.5" />
        </g>
    </svg>

    <!-- Spotlight -->
    <svg class="absolute" width="100%" height="100%">
        <circle id="mainSpotlight" cx="50%" cy="50%" />
    </svg>
</div>

<script>
    // Stagger delays for bulb flash animations
    const bulbs = document.querySelectorAll(".heroBulb");
    bulbs.forEach((bulb, i) => {
        (bulb as HTMLElement).style.animationDelay = `${i/6 + 3}s`;
    });
</script>

<style>
    #leftFull {
        animation: leftCurtainOpen 2s 1s ease-in forwards;
    }

    #rightFull {
        animation: rightCurtainOpen 2s 1s ease-in forwards;
    }

    #mainSpotlight {
        r: 50vw;
        fill: #EBD19D;
        opacity: 0.3;
        animation: spotlightOn 10s 2s infinite backwards;
        mix-blend-mode: plus-lighter;
    }

    .logoIlluminate {
        animation: logoIlluminate 10s 2s infinite backwards;
    }

    .heroBulb {
        filter: brightness(75%);
        animation: bulbFlash 2s infinite;
        scale: 1.1;
    }

    /* md and up */
    @media (width >= 48rem) {
        #mainSpotlight {
            r: 50vh;
        }
    }

    @keyframes leftCurtainOpen {
        from {
            transform: translateX(0%) rotateY(180deg);
        }
        to {
            transform: translateX(-60%) rotateY(180deg);
        }
    }

    @keyframes rightCurtainOpen {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(60%);
        }
    }

    @keyframes spotlightOn {
        0%, 10% {
            opacity: 0;
        }
        10.1%, 18%, 20%, 22% {
            opacity: 0.3;
        }
        19%, 21% {
            opacity: 0.15;
        }
    }

    @keyframes logoIlluminate {
        0%, 10% {
            filter: brightness(50%);
        }
        10.1%, 18%, 20%, 22% {
            filter: brightness(100%);
        }
        19%, 21% {
            filter: brightness(75%);
        }
    }

    @keyframes bulbFlash {
        45% {
            filter: drop-shadow(0px 0px 20px #EBD19D) brightness(100%);
        }
    }
</style>