---
import TopCurtain from '../assets/hero/topCurtain.svg';
import SideCurtain from '../assets/hero/sideCurtain.svg';
import FullCurtain from '../assets/hero/fullCurtain.svg';
import HeroLogo from '../assets/hero/heroLogo.svg';
import HeroBulbLight from '../assets/hero/heroBulbLight.svg';
import HeroBulbDark from '../assets/hero/heroBulbDark.svg';
---

<div
    class="relative h-[75vh] lg:h-screen w-full bg-[#10042a]  text-white overflow-hidden"
>
    <FullCurtain id="leftFull" class="absolute right-[47%] rotate-y-180 z-10" />
    <FullCurtain id="rightFull" class="absolute left-[47%] z-10" />
    <SideCurtain class="hidden md:block absolute top-0 left-0 w-fit h-[95%]" />
    <SideCurtain class="hidden md:block absolute top-0 right-0 w-fit h-[95%] rotate-y-180" />
    <TopCurtain class="absolute w-full -top-[8%] h-fit z-11" />

    <!-- Logo Support Bars -->
    <svg class="absolute" width="100%" height="100%">
        <line x1="33%" y1="0" x2="33%" y2="50%" stroke="#C6822A" stroke-width="4" />
        <line x1="67%" y1="0" x2="67%" y2="50%" stroke="#C6822A" stroke-width="4" />
    </svg>

    <!-- Hero Logo Board -->
    <div class="relative left-[2.5%] md:left-[25%] top-[30%] w-[95%] md:w-[50%]">
        <div class="absolute">
            <div class="logoIlluminate absolute font-playfair italic text-shadow-lg/20 text-[3vw] md:text-[2vw] w-full text-center top-[-4vh]">Presenting</div>
            <HeroLogo class="logoIlluminate w-full h-fit" />
            <div class="absolute bottom-[15%] w-full aspect-9/2">
                <!-- Top Left Row Bulbs -->
                <div class="absolute -top-[8%] left-[7%]">
                    <div class="flex">
                        {Array.from({ length: 4 }).map(() => (
                            <HeroBulbLight class="heroBulb w-[6vw] md:w-[3vw] h-fit" />
                        ))}
                    </div>
                </div>

                <!-- Top Middle Row Bulbs -->
                <div class="absolute -top-[57%] -left-[1.25%] w-full">
                    <div class="flex gap-[1.5%] justify-center">
                        <HeroBulbLight class="heroBulb w-[6vw] md:w-[3vw] h-fit mt-[6%]" />
                        <HeroBulbLight class="heroBulb w-[6vw] md:w-[3vw] h-fit mt-[1.5%]" />
                        <HeroBulbLight class="heroBulb w-[6vw] md:w-[3vw] h-fit" />
                        <HeroBulbLight class="heroBulb w-[6vw] md:w-[3vw] h-fit mt-[1.5%]" />
                        <HeroBulbLight class="heroBulb w-[6vw] md:w-[3vw] h-fit mt-[6%]" />
                    </div>
                </div>

                <!-- Top Right Row Bulbs -->
                <div class="absolute -top-[8%] right-[7%]">
                    <div class="flex">
                        {Array.from({ length: 4 }).map(() => (
                            <HeroBulbLight class="heroBulb w-[6vw] md:w-[3vw] h-fit" />
                        ))}
                    </div>
                </div>

                <!-- Right Column Bulbs -->
                <div class="absolute -bottom-[15%] -right-[2.5%]">
                    <div class="flex flex-col items-end justify-end md:gap-0">
                        <HeroBulbDark class="heroBulb w-[7vw] md:w-[4vw] h-fit" />
                        {Array.from({ length: 2 }).map(() => (
                            <HeroBulbDark class="heroBulb w-[6vw] md:w-[3vw] h-fit" />
                        ))}
                        <HeroBulbDark class="heroBulb w-[7vw] md:w-[4vw] h-fit" />
                    </div>
                </div>

                <!-- Bottom Row Bulbs -->
                <div class="absolute -bottom-[10%] w-full">
                    <div class="flex flex-row-reverse gap-[0.6%] justify-center">
                        {Array.from({ length: 13 }).map(() => (
                            <HeroBulbLight class="heroBulb w-[6vw] md:w-[3vw] h-fit" />
                        ))}
                    </div>
                </div>

                <!-- Left Column Bulbs -->
                <div class="absolute -bottom-[15%] -left-[2.5%]">
                    <div class="flex flex-col-reverse justify-end md:gap-0">
                        <HeroBulbDark class="heroBulb w-[7vw] md:w-[4vw] h-fit" />
                        {Array.from({ length: 2 }).map(() => (
                            <HeroBulbDark class="heroBulb w-[6vw] md:w-[3vw] h-fit" />
                        ))}
                        <HeroBulbDark class="heroBulb w-[7vw] md:w-[4vw] h-fit" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Spotlight -->
    <svg class="absolute" width="100%" height="100%">
        <circle id="mainSpotlight" cx="50%" cy="50%" />
        <!-- <polygon points ="50,500 150,350 200,425" fill="#FFF0D2" /> -->
    </svg>
</div>

<script>
    // Stagger delays for bulb flash animations
    const bulbs = document.querySelectorAll(".heroBulb");
    bulbs.forEach((bulb, i) => {
        (bulb as HTMLElement).style.animationDelay = `${i/6 + 3}s`;
    });

    // Delete full curtains after opening animation
    const leftFull = document.getElementById('leftFull');
    const rightFull = document.getElementById('rightFull');
    leftFull?.addEventListener('animationend', () => {
        leftFull.remove();
    });
    rightFull?.addEventListener('animationend', () => {
        rightFull.remove();
    });
</script>

<style>
    

    #leftFull {
        animation: leftCurtainOpen 2s 1s ease-in;
    }

    #rightFull {
        animation: rightCurtainOpen 2s 1s ease-in;
    }

    #mainSpotlight {
        r: 25vh;
        fill: #EBD19D;
        opacity: 0.3;
        animation: spotlightOn 10s 2s infinite backwards;
        mix-blend-mode: plus-lighter;
    }

    .logoIlluminate {
        animation: logoIlluminate 10s 2s infinite backwards;
    }

    .heroBulb {
        filter: brightness(75%);
        animation: bulbFlash 2s infinite;
    }

    /* lg and up */
    @media (width >= 64rem) {
        #mainSpotlight {
            r: 50vh;
        }
    }

    @keyframes leftCurtainOpen {
        from {
            transform: translateX(0%) rotateY(180deg);
        }
        to {
            transform: translateX(-100%) rotateY(180deg);
        }
    }

    @keyframes rightCurtainOpen {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(100%);
        }
    }

    @keyframes spotlightOn {
        0%, 10% {
            opacity: 0;
        }
        10.1%, 18%, 20%, 22% {
            opacity: 0.3;
        }
        19%, 21% {
            opacity: 0.15;
        }
    }

    @keyframes logoIlluminate {
        0%, 10% {
            filter: brightness(50%);
        }
        10.1%, 18%, 20%, 22% {
            filter: brightness(100%);
        }
        19%, 21% {
            filter: brightness(75%);
        }
    }

    @keyframes bulbFlash {
        45% {
            filter: drop-shadow(0px 0px 20px #EBD19D) brightness(100%);
        }
    }
</style>