---
import TopCurtain from '../assets/hero/topCurtain.svg';
import FullCurtain from '../assets/hero/fullCurtain.svg';
import HeroLogo from '../assets/hero/heroLogo.svg';
import HeroBulbLight from '../assets/hero/heroBulbLight.svg';
import HeroBulbDark from '../assets/hero/heroBulbDark.svg';

const gap = 50;
---

<div
    class="relative h-[75vh] lg:h-screen w-full bg-[#10042a] text-white overflow-hidden"
>
    <FullCurtain id="leftFull" class="absolute h-full right-1/2 translate-x-[25%] rotate-y-180 z-10" width="auto" />
    <FullCurtain id="rightFull" class="absolute h-full left-1/2 -translate-x-[25%] z-10" width="auto" />
    <TopCurtain class="absolute w-[200%] sm:w-[125%] md:w-full sm:-top-[8%] left-[50%] -translate-x-[50%] z-11" height="auto" />

    <svg class="absolute top-[50%] left-[50%] -translate-[50%] w-[180%] md:w-full" viewBox="0 0 1750 500" height="100%" style="transform-box: fill-box;">
        <defs>
            <filter id="brightness50" color-interpolation-filters="sRGB">
                <feComponentTransfer>
                    <feFuncR type="linear" slope="0.50" />
                    <feFuncG type="linear" slope="0.50" />
                    <feFuncB type="linear" slope="0.50" />
                </feComponentTransfer>
            </filter>
            <filter id="brightness75" color-interpolation-filters="sRGB">
                <feComponentTransfer>
                    <feFuncR type="linear" slope="0.75" />
                    <feFuncG type="linear" slope="0.75" />
                    <feFuncB type="linear" slope="0.75" />
                </feComponentTransfer>
            </filter>
            <filter id="bulbGlow" x="-75%" y="-75%" width="300%" height="300%" color-interpolation-filters="sRGB">
                <feDropShadow dx="0" dy="0" stdDeviation="15" flood-color="#EBD19D" />
            </filter>
            <filter id="spotlightGlow" x="-50%" y="-50%" width="200%" height="200%" color-interpolation-filters="sRGB">
                <feDropShadow dx="0" dy="0" stdDeviation="5" flood-color="#EBD19D" />
                <feDropShadow dx="0" dy="0" stdDeviation="6" flood-color="#EBD19D" />
                <feDropShadow dx="0" dy="0" stdDeviation="7" flood-color="#EBD19D" />
            </filter>
        </defs>
        <!-- Logo Support Bars -->
        <line x1="33%" y1="-200%" x2="33%" y2="50%" stroke="#C6822A" stroke-width="4" />
        <line x1="67%" y1="-200%" x2="67%" y2="50%" stroke="#C6822A" stroke-width="4" />

        <!-- Hero Logo Board -->
        <text class="font-playfair italic text-shadow-lg/20" fill="white" font-size="36" x="50%" y="80" text-anchor="middle">Presenting</text>
        <g class="logoIlluminate -translate-[50%]" style="transform-box: fill-box;"><HeroLogo x="50%" y="50%" /></g>

        <g style="isolation: isolate;">
            <!-- Top Left Row Bulbs -->
            {Array.from({ length: 4 }).map((_, index) => (
                <g class="heroBulb"><HeroBulbLight x={440 + index * gap} y="180" /></g>
            ))}

            <!-- Top Middle Row Bulbs -->
            <g class="heroBulb"><HeroBulbLight x="635" y="145" /></g>
            <g class="heroBulb"><HeroBulbLight x="695" y="105" /></g>
            <g class="heroBulb"><HeroBulbLight x="760" y="90" /></g>
            <g class="heroBulb"><HeroBulbLight x="825" y="105" /></g>
            <g class="heroBulb"><HeroBulbLight x="885" y="145" /></g>
            <!-- Top Right Row Bulbs -->
            {Array.from({ length: 4 }).map((_, index) => (
                <g class="heroBulb"><HeroBulbLight x={940 + index * gap} y="180" /></g>
            ))}

            <!-- Right Column Bulbs -->
            <g class="heroBulb" style="scale: 1.5"><HeroBulbDark x="847" y="130" /></g>
            {Array.from({ length: 2 }).map((_, index) => (
                <g class="heroBulb"><HeroBulbDark x="1173" y={240 + index * gap} /></g>
            ))}
            <g class="heroBulb" style="scale: 1.5"><HeroBulbDark x="847" y="250" /></g>
            <!-- Bottom Row Bulbs -->
            {Array.from({ length: 14 }).map((_, index) => (
                <g class="heroBulb"><HeroBulbLight x={1090 - index * gap} y="345" /></g>
            ))}

            <!-- Left Column Bulbs -->
            <g class="heroBulb" style="scale: 1.5"><HeroBulbDark x="272" y="250" /></g>
            {Array.from({ length: 2 }).map((_, index) => (
                <g class="heroBulb"><HeroBulbDark x="369" y={290 - index * gap} /></g>
            ))}
            <g class="heroBulb" style="scale: 1.5"><HeroBulbDark x="272" y="130" /></g>
        </g>
    </svg>

    <!-- Spotlight -->
    <svg class="absolute" width="100%" height="100%">
        <circle id="mainSpotlight" cx="50%" cy="50%" />
    </svg>
</div>

<script>
    // Stagger delays for bulb flash animations
    const bulbs = document.querySelectorAll(".heroBulb");
    bulbs.forEach((bulb, i) => {
        (bulb as HTMLElement).style.animationDelay = `${i/6 + 3}s`;
    });
</script>

<style>
    #leftFull {
        animation: leftCurtainOpen 2s 1s ease-in forwards;
    }

    #rightFull {
        animation: rightCurtainOpen 2s 1s ease-in forwards;
    }

    #mainSpotlight {
        r: 50vw;
        fill: #EBD19D;
        opacity: 0.3;
        animation: spotlightOn 10s 2s infinite backwards;
        filter: url(#spotlightGlow);
    }

    .logoIlluminate {
        animation: logoIlluminate 10s 2s infinite backwards;
    }

    .heroBulb {
        filter: url(#brightness75);
        animation: bulbFlash 2s infinite;
        scale: 1.1;
    }

    /* md and up */
    @media (width >= 48rem) {
        #mainSpotlight {
            r: 48vh;
        }
    }

    @keyframes leftCurtainOpen {
        from {
            transform: translateX(0%) rotateY(180deg);
        }
        to {
            transform: translateX(-60%) rotateY(180deg);
        }
    }

    @keyframes rightCurtainOpen {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(60%);
        }
    }

    @keyframes spotlightOn {
        0%, 10% {
            opacity: 0;
        }
        10.1%, 18%, 20%, 22% {
            opacity: 0.3;
        }
        19%, 21% {
            opacity: 0.15;
        }
    }

    @keyframes logoIlluminate {
        0%, 10% {
            filter: url(#brightness50);
        }
        10.1%, 18%, 20%, 22% {
            filter: none;
        }
        19%, 21% {
            filter: url(#brightness75);
        }
    }

    @keyframes bulbFlash {
        0% {
            filter: none;
        }
        45% {
            filter: url(#bulbGlow);
        }
    }
</style>