---
import ScheduleCard from "./ScheduleCard.astro"

const scheduleData = [
    {
        date: "February 6th",
        day: "Friday",
        events: [
            {
                "title": "Check-In & Snacks",
                "time": "5:00 PM - 6:00  PM",
                "description": "Have your QR code ready and get your teammates together for check-in",
                "tags": ["❗ Mandatory","Snacks"]
            },
            {
                "title": "Team Building",
                "time": "5:00 PM - 6:30  PM",
                "description": "For those looking for a team, join our social to build your film team",
                "tags": ["Social", "Location: TBD"]
            },
            {
                "title": "Networking",
                "time": "5:00 PM - 6:30 PM",
                "description": "This is your chance to network with our AWESOME sponsors in a casual environment",
                "tags": ["Career", "Internship", "Location: TBD"]
            },
            {
                "title": "Opening Ceremony",
                "time": "6:00 PM - 6:30 PM",
                "description": "Join us for the big night! We'll introduce our sponsors, reveal the tracks and prizes",
                "tags": ["❗ Mandatory", "Location: TBD"]
            },
            {
                "title": "Workshop: TBD",
                "time": "7:00 PM - 8:00 PM",
                "description": "🚧 Under construction",
                "tags": ["Workshop", "Location: TBD"]
            },
            {
                "title": "Dinner 🍿",
                "time": "8:15 PM - 9:30 PM",
                "description": "Enjoy some top tier food! Vegetarian options available",
                "tags": ["Food"]
            },
            {
                "title": "De-Stress: TBD",
                "time": "9:30 PM - 10:30 PM",
                "description": "Take a breather with our de-stress event",
                "tags": ["Social", "Location: TBD"]
            },
            {
                "title": "Midnight Snacks 🍪",
                "time": "11:30 PM - 12:00am",
                "description": "Enjoy insomia cookies with your fellow hackers",
                "tags": ["Snacks", "Location: TBD"]
            },
        ],
    },
    {
        date: "February 7th",
        day: "Saturday",
        events: [
            {
                "title": "Check-In & Breakfast",
                "time": "9:00am - 10:30am",
                "description": "Check in for day 2 and re-fuel with breakfast! Vegetarian options available",
                "tags": ["❗ Mandatory", "Food", "Location: TBD"]
            },
            {
                "title": "Lunch 🍿",
                "time": "1:00 PM - 2:00 PM",
                "description": "It's the final stretch! Make sure to grab food with your team before your final submission",
                "tags": ["Food", "Location: TBD"]
            },
            {
                "title": "‼️ DevPost Drafts Due",
                "time": "2:30 PM - 2:45 PM",
                "description": "Make sure drafts for DevPosts have been made and teams have been submitted!",
                "tags": ["❗ Mandatory"]
            },
            {
                "title": "De-Stress: TBD",
                "time": "4:00 PM - 6:30 PM",
                "description": "Take a breather with our de-stress event",
                "tags": ["Location: TBD"]
            },
            {
                "title": "‼️ Hacking Over",
                "time": "5:30 PM - 5:45 PM",
                "description": "YOU DID IT! FINAL SUBMISSIONS! NO LATE POSTS ALLOWED",
                "tags": ["❗ Mandatory"]
            },
            {
                "title": "Project Expo",
                "time": "7:00 PM - 8:00 PM",
                "description": "Present your projects to our sponsors while judging happens",
                "tags": ["Social", "Career"]
            },
            {
                "title": "Dinner & Meet the Team! 🍿",
                "time": "8:00 PM - 9:00 PM",
                "description": "Enjoy your well-earned dinner and meet the SparkHacks team!",
                "tags": ["Food", "Location: TBD"]
            },
            {
                "title": "Closing Ceremony & Awards",
                "time": "9:00 PM - 9:30 PM",
                "description": "Winner Announcements!",
                "tags": ["❗ Mandatory", "Location: TBD"]
            },
        ]
    }
]
---

<section id="schedule">
    <div class="flex flex-col place-content-center items-center bg-linear-to-b from-[#650B0D] to-[#DC1A1D] text-white pb-30 overflow-hidden">
        <h1 class="text-2xl md:text-4xl text-center leading-relaxed">The Short List</h1>
        <h1 class="text-4xl md:text-6xl font-bold text-center leading-relaxed">Schedule</h1>
        <br />
        <div class="flex flex-row flex-wrap place-content-center items-start text-white gap-15 pb-30"> 
            {
                scheduleData.map((d) => (
                    <div>
                        <h1><span class="text-3xl font-bold text-center leading-relaxed">{d.day}</h1>
                        <div class="flex flex-col gap-5">
                            {
                                d.events.map((event) => (
                                    <ScheduleCard eventData={event} />
                                ))
                            }
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>