---
const { name } = Astro.props;
import Star from '/src/assets/sponsors/star.svg';
---

<div class="flex gap-5 items-center">
    <Star class="w-30 h-fit" />
    <h2 class="text-3xl font-bold">{name}</h2>
</div>